.navContainer {
  position: relative;
  right: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 10px;
}
.navLinkButton {
  background-color: transparent;
  border: 1px solid lightgray;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
.navLinkButton:hover {
  background-color: lightgray;
  color: black;
}

.navLinkActive {
  background-color: green;
  color: white;
}
.navLinkActive:hover {
  background-color: green;
  color: white;
}
